html,
body {
    margin: 0;
}

body {
    background: #2fa8b0;
    background-image: url(https://pp.userapi.com/c849028/v849028932/1dee33/oezHLhO0Vrg.jpg);
    font-family: Arial, sans-serif;
}

.document {
    text-align: center;
    padding: 0px 48px;
}

.head {
    background: #2fa8b0;
    color: #fff;
    text-align: center;
    height: 100px;
    font-size: 24px;
    line-height: 2;
}

.users {
    margin-top: 20px;
}

.users img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 12px solid #62a2be;
}

.user {
    margin-top: 10px;
}

.user_pic {
    display: inline-block;
    vertical-align: middle;
    margin-right: 30px;
}

.user_name {
    background-color: rgba(200, 191, 231, 0.5);
    display: inline-block;
    vertical-align: middle;
    -webkit-border-radius: 20px;
    padding: 30px 160px;
}


.header {
    height: 100px;
    font-size: 24px;
    line-height: 2;
}

.selected-user {
    position: fixed;
    top: 20px;
    left: 50px;
}

.user_pic-mini img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.user_balance img {
    vertical-align: middle;
    width: 24px;
    height: 24px;
}

.user_balance span {
    vertical-align: middle;
}

.type {
    display: inline-block;
    margin-right: 150px;
}

.type_select {
    border-radius: 5px;
}

.new-ad {
    display: inline-block;
    vertical-align: middle;
}

.cards {
    margin-left: auto;
    margin-right: auto;
    width: 350px;
}

.card {
    background-color: transparent;
    position: relative;
    /* height: 250px; */
    padding: 30px 30px 0px;
}

.card:after {
    background-color: #e7e7e7;
    position: absolute;
    content: '';
    top: 10px;
    left: -10px;
    right: -10px;
    bottom: 10px;
    z-index: -1;
    
    /* border-radius: 10px; */
}

.card_task {
    background-color: #92e0e4;
    border-radius: 20px;
    padding: 10px;
}

.card_status {

}

.card_fields {

}

.card_fields_line {
    text-align: left;
}

.card_fields_line_title { /* иожет убрать какой-нибудь из лэйблов?*/
    display: inline-block;
    width: 50px;
    margin-right: 50px;
}

.card_fields_line_field {
    background-color: #c4c4c4;
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 185px;
}

.card_description {
    background-color: #c4c4c4;
}

.card_accept {
    position: relative;
}

.card_accept_button {
    display: inline-block;
}

.card_button {
    background-color: #92e0e4;
    border: none;
    width: 100px;
    height:  30px;
    border-radius: 20px;
    margin-top: 15px;
    margin-right: 165px;
}

.card_price {
    background-color: #fed466;
    display: table-cell;
    vertical-align: middle;
    position: relative;
    top: -30px;
    left: 175px;
    width: 100px;
    height:  30px;
}

.ad {
    background-color: #e7e7e7;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    width: 310px;
    height: 350px;
    padding: 30px 30px 0px;
}

.label {
    float: left;
    margin-bottom: 5px;
}

.span {
    display: inline-block;
    text-align: left;
    vertical-align: top;
    width: 50px;
    margin-right: 50px;
}

.select {
    background-color: #c4c4c4;
    border-color: transparent;
    width: 189px;
}

.textarea {
    background-color: #c4c4c4;
    border-color: transparent;
    width: 183px;
    margin-bottom: -4px;
}

.input {
    background-color: #c4c4c4;
    border-color: transparent;
    width: 185px;
}

.label-description {
    float: left;
}

.span-description {
    float: left;
    margin-top: 15px;
}

.textarea-description {
    background-color: #c4c4c4;
    border-color: transparent;
    width: 290px;
    height: 80px;
}

.label-price {
    float: left;
    margin-top: 15px;
}

.span-price {
    display: inline-block;
    text-align: left;
    vertical-align: top;
    width: 50px;
    /* margin-right: 50px; */
}

.input-price {
    background-color: #c4c4c4;
    border: none;
    width: 239px;
}

.add {
    float: left;
}

.add_button {
    background-color: #fed466;
    display: inline-block;
    border: none;
    /* text-align: left; */
    /* vertical-align: top; */
    width: 100px;
    height: 30px;
    margin-top: 20px;
    margin-left: 30px;
    margin-right: 100px; 
}

.cancel_button {
    
}
